@charset "utf-8";

/*----------------------------------------
	@use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	u-device-sp
----------------------------------------*/
.u-device-sp {
	display: none;

	@include mq(pc) {
		display: block;
	}
}

/*----------------------------------------
	u-device-tablet
----------------------------------------*/
.u-device-tablet {
	display: none;

	@include mq(tl) {
		display: block;
	}
}

/*----------------------------------------
	u-device-pc
----------------------------------------*/
.u-device-pc {
	@include mq(sp) {
		display: none;
	}
}