@charset "utf-8";

/*----------------------------------------
	@use
----------------------------------------*/
@use "../../foundation/mixin/mediaquery";

/*----------------------------------------
	u-device-sp
----------------------------------------*/
.u-device-sp{
	display: none;
	@include mediaquery.sp {
		display: block;
	}
}
/*----------------------------------------
	u-device-pc
----------------------------------------*/
.u-device-pc{
	@include mediaquery.sp {
		display: none;
	}
}