@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	c-banners
----------------------------------------*/
.c-banners {
    box-sizing: content-box;
    max-width: 1000px;
    padding: 0 50px;
    margin: 0 auto 80px;
    &.-modifier {
        margin: 140px auto 0;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 20px;
        gap: 20px;
    }
    &__item {
        a {
            display: block;
        }
    }
}

@include mq(sp) {
    .c-banners {
        padding: 0 10px;
        margin: 20px 0 80px;
        &.-modifier {
            margin: 100px 0 0;
        }
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 20px 0;
            gap: 10px;
        }
    }
}