@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	c-best3
----------------------------------------*/
.c-best3 {
    box-sizing: content-box;
    max-width: 1000px;
	padding: 0 50px;
    margin: 100px auto 0;
    &__date {
        text-align: center;
        font-weight: bold;
        margin: 0 0 20px;
        .text {
            position: relative;
            padding: 15px 0;
            font-size: 2rem;
            font-weight: 800;
        }
        .border-green {
            &::before{
                content: "";
                position: absolute;
                background: #1DC291;
                height: 2px;
                width: 48%;
                top: 0;
                left: 0;
            }
            &::after{
                content: "";
                position: absolute;
                background: #1DC291;
                height: 2px;
                width: 48%;
                bottom: 0;
                right: 0;
            }
        }
        .border-orange {
            &::before{
                content: "";
                position: absolute;
                background: #FAA001;
                height: 2px;
                width: 48%;
                top: 0;
                right: 0;
            }
            &::after{
                content: "";
                position: absolute;
                background: #FAA001;
                height: 2px;
                width: 48%;
                bottom: 0;
                left: 0;
            }
        }
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 800;
        margin: 30px 0 0;
        &__inner {
            position: relative;
        }
        .head {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: #34A17A;
            left: 0;
            top: -10px;
            width: 55px;
            height: 55px;
            padding: 0 0 0 2px;
            font-size: 1.6rem;
            font-weight: 800;
            color: #fff;
            transform: rotate(-22deg);
            &::before {
                content: "";
                position: absolute;
                background: #34A17A;
                width: 12px;
                height: 10px;
                right: 1px;
                bottom: 1px;
                transform: rotate(40deg);
                clip-path: polygon(0 0, 0% 100%, 100% 50%);
            }
        }
        .text {
            padding: 0 0 0 65px;
        }
        .accent {
            color: #34A17A;
        }
        .num {
            color: #1DC291;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: 50px 0 0;
    }
    &__item {
        position: relative;
        border: 1px solid rgba(0,0,0,.2);
        padding: 35px 25px 25px;
        &__num {
            position: absolute;
            top: -25px;
            right: 0;
            left: 0;
            margin: auto;
            width: 40px;
        }
        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 95px;
        }
        &__text {
            margin: 25px 0 0;
            font-size: 1.6rem;
            font-weight: 600;
        }
        &__button {
            margin: 20px 0 0;
            a{
                display: block;
                text-align: center;
                background: #FF6006;
                padding: 15px 0;
                border-radius: 10px;
                box-shadow: 0px 4px 0px #D34D13;
                font-size: 1.6rem;
                font-weight: 600;
                color: #fff;
            }
        }
    }

}

@include mq(sp) {
    .c-best3 {
        padding: 0 10px;
        margin: 80px 0 0;
        &__date {
            margin: 0 0 40px;
            .text {
                padding: 15px 0;
                font-size: 1.6rem;
            }
        }
        &__title {
            font-size: 2rem;
            .head {
                left: -45px;
                top: -20px;
                min-width: 55px;
                height: 55px;
                font-size: 1.3rem;
            }
            .text {
                padding: 0;
            }
        }
        &__list {
            gap: 10px;
        }
        &__item {
            padding: 30px 10px 15px;
            &__num {
                width: 35px;
            }
            &__img {
                min-height: 45px;
            }
            &__text {
                margin: 10px 0 0;
                font-size: 1.2rem;
            }
            &__button {
                a{
                    padding: 10px 0;
                    font-size: 1.3rem;
                }
            }
        }
    }
}