@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	c-detail
----------------------------------------*/
.c-detail {
    margin: 100px 0 0;
}

@include mq(sp) {}

/*----------------------------------------
	c-detail-block
----------------------------------------*/
.c-detail-block {
    margin: 30px 0 0;
    padding: 40px;
    background: #fafafa;
    &__head {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #34A17A;
        padding: 10px 15px 10px 10px;
        &::after {
            content: "";
            position: absolute;
            background: #1DC291;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 350px;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
            z-index: 1;
        }
        &__title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
                width: 65px;
                margin: 0 20px 0 0;
            }
            h3 {
                font-size: 3.2rem;
                font-weight: 600;
                color: #fff;
            }
        }
        &__evaluation {
            position: relative;
            z-index: 2;
            p {
                display: flex;
                align-items: center;
                .text {
                    white-space: nowrap;
                    font-size: 1.6rem;
                    font-weight: 300;
                    color: #fff;
                }
                img {
                    margin: 0 10px;
                }
                .num {
                    font-size: 2.4rem;
                    font-weight: 800;
                    color: #FF6006;
                }
            }
        }

    }
    &__main {
        h4 {text-align: center;
            margin: 20px 0 0;
            font-size: 2.4rem;
            font-weight: 600;
            color: #000;
        }
        &__inner {
            display: flex;
            background: #fff;
            padding: 20px;
            margin: 20px 0 0;
        }
        &__text {
            flex: 1;
            margin: 0 20px 0 0;
            h5 {
                text-align: center;
                border-top: 2px solid #FF6006;
                border-bottom: 2px solid #FF6006;
                padding: 5px 0;
                font-size: 2rem;
                font-weight: 800;
                color: #FF6006;
            }
            ul {
                margin: 30px 0 20px;
                li {
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.8;
                    color: #000;
                    margin: 15px 0 0;
                    &:first-child {
                        margin: 0;
                    }
                    span {
                        position: relative;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        &::before{
                            content: "";
                            display: inline-block;
                            background: url("../img/icon-list.svg") no-repeat center / contain;
                            min-width: 25px;
                            height: 25px;
                            margin: 0 15px 0 0;
                        }
                    }
                }
            }
        }
        &__img {
            max-width: 370px;
            width: 42%;
        }
    }
    &__list {
        display: flex;
        align-items : stretch;
        flex-wrap: wrap;
        margin: 20px 0 0;
        dl {
            display: flex;
            flex-direction: column;
            align-items : stretch;
            width: 33.333%;
            &:nth-child(even) {
                dt {
                    background: #CEEECD;
                }
            }
            dt {
                text-align: center;
                padding: 20px;
                background: #DCF1DB;
            }
            dd {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background: #fff;
                padding: 10px;
                height: 100%;
                &.text-left {
                    text-align: left;
                }
            }
        }
    }
    &__point {
        margin: 20px 0 0;
        h4 {
            font-size: 1.6rem;
            font-weight: 600;
            span {
                background: #FAA001;
                padding: 10px 40px 10px 20px;
                border-left: 10px solid #FFCF40;
                line-height: 1.8;
                color: #fff;
                clip-path: polygon(97% 0, 100% 50%, 97% 100%, 0 100%, 0 0);
            }
        }
        &__inner {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            padding: 20px 30px;
            margin: 5px 0 0;
            background: #fff;
        }
        &__img {
            width: 80px;
            margin: 0 0 0 20px;
        }
        &__text {
            flex: 1;
            font-size: 1.6rem;
            line-height: 2;
            .accent {
                font-weight: 600;
                color: #FF6006;
            }
        }
    }
    &__button {
        display: grid;
        grid-template-columns: 37.2% 60.5%;
        gap: 20px;
        margin: 20px 0 0;
        &__detail {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                border-radius: 8px;
                border: 2px solid #F5F5F5;
                padding: 35px 0;
                font-size: 2.4rem;
                font-weight: 600;
            }
        }
        &__official {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FF6006;
                border-radius: 8px;
                border: 2px solid rgba(0,0,0,.2);
                padding: 35px 0;
                font-size: 2.4rem;
                font-weight: 800;
                color: #fff;
            }
        }
    }
}

@include mq(sp) {
    .c-detail-block {
        margin: 30px 0 0;
        padding: 20px;
        &__head {
            display: block;
            padding: 0;
            &::after {
                display: none;
            }
            &__title {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px;
                img {
                    width: 55px;
                    margin: 0 10px 0 0;
                }
                h3 {
                    font-size: 2rem;
                }
            }
            &__evaluation {
                background: #1DC291;
                padding: 10px;
                p {
                    justify-content: flex-end;
                    .text {
                        font-size: 1.3rem;
                    }
                    img {
                        width: 80px;
                        margin: 0 10px;
                    }
                    .num {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        &__main {
            h4 {
                font-size: 1.7rem;
            }
            &__inner {
                flex-direction: column-reverse;
                padding: 20px;
                margin: 20px 0 0;
            }
            &__text {
                flex: 1;
                margin: 20px 0 0;
                h5 {
                    padding: 5px 0;
                    font-size: 1.6rem;
                }
                ul {
                    li {
                        font-size: 1.4rem;
                    }
                }
            }
            &__img {
                max-width: none;
                width: auto;
            }
        }
        &__list {
            margin: 20px 0 0;
            dl {
                dt {
                    padding: 10px;
                    font-size: 1.2rem;
                }
                dd {
                    padding: 10px;
                    font-size: 1.2rem;
                }
            }
        }
        &__point {
            margin: 20px 0 0;
            h4 {
                font-size: 1.5rem;
                span {
                    padding: 10px 20px 10px 10px;
                }
            }
            &__inner {
                display: block;
                padding: 20px;
                margin: 5px 0 0;
            }
            &__text {
                margin: 10px 0 0;
                font-size: 1.4rem;
            }
            &__img {
                float: right;
                width: 65px;
            }
        }
        &__button {
            grid-template-columns: 1fr;
            gap: 20px;
            margin: 20px 0 0;
            &__detail {
                a {
                    padding: 20px 0;
                    font-size: 1.6rem;
                }
            }
            &__official {
                a {
                    padding: 20px 0;
                    font-size: 1.6rem;
                }
            }
        }
    }
}