@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	c-hero
----------------------------------------*/
.c-hero {
    position: relative;
    box-sizing: content-box;
    max-width: 1000px;
	margin: auto;
	padding: 0 50px;
    &__button {
        position: absolute;
        left: 30px;
        bottom: 15px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 4px solid #575245;
            background: rgba(87,82,69,.8);
            border-radius: 200px;
            width: 250px;
            height: 60px;
            font-size: 2rem;
            font-weight: 800;
            color: #ffff;
        }
    }
}

@include mq(tl) {
    .c-hero {
        padding: 0;
        &__button {
            left: 30px;
            bottom: 15px;
            a {
                width: 180px;
                height: 50px;
                font-size: 1.6rem;
            }
        }
    }
}

@include mq(sp) {
    .c-hero {
        &__button {
            left: vw(5);
            bottom: vw(5);
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #575245;
                background: rgba(87,82,69,.8);
                border-radius: 200px;
                width: vw(110);
                height: vw(25);
                font-size: vw(10);
                letter-spacing: 0.03em;
            }
        }
    }
}
