@charset "utf-8";

/*----------------------------------------
    @use
----------------------------------------*/
@use "../../foundation/mixin/mediaquery";

/*----------------------------------------
	c-pager
----------------------------------------*/
.c-pager{
	display: flex;
    align-items: center;
    justify-content: center;
    &__prev{

    }
    &__back{
    	
    }
    &__next{
    	
    }
}
@include mediaquery.sp {
	
}