@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	c-pickup
----------------------------------------*/
.c-pickup {
    max-width: 1000px;
    box-sizing: content-box;
    padding: 0 50px;
    margin: 115px auto 0;
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 20px 0 0;
    }
    &__item {
        background: #FAFAFA;
        padding: 30px 40px;
        &__title {
            text-align: center;
            font-size: 2.4rem;
            font-weight: 800;
            a {
                color: #34A17A;
            }
        }
        &__img {
            margin: 20px 0 0;
        }
        &__text {
            font-size: 1.6rem;
            font-weight: 300;
            margin: 20px 0 0;
        }
        &__button {
            margin: 30px 0 0;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FF6006;
                width: 295px;
                height: 70px;
                margin: auto;
                font-size: 2rem;
                font-weight: 800;
                color: #fff;
            }
        }
    }
}

@include mq(sp) {
    .c-pickup {
        padding: 0 10px;
        margin: 100px 0 0;
        &__list {
            gap: 10px;
            margin: 20px 0 0;
        }
        &__item {
            padding: 20px 10px;
            &__title {
                font-size: 1.4rem;
            }
            &__text {
                font-size: 1.3rem;
            }
            &__button {
                margin: 20px 0 0;
                a {
                    width: auto;
                    height: 50px;
                    font-size: 1.3rem;
                }
            }
        }
    }
}