@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	c-popular
----------------------------------------*/
.c-popular {
    margin: 80px 0 0;
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
        margin: 40px 20px 0;
    }
    &__table {
        margin: 120px 0 0;
        overflow-x: scroll;
        table {
            width: 100%;
            thead {
                th {
                    position: relative;
                    min-width: 250px;
                    padding: 10px 30px;
                    &:first-child {
                        position:sticky;
                        background: #fff;
                        min-width: 150px;
                        left:0;
                        z-index: 1;
                    }
                    .num {
                        width: 40px;
                        margin: 0 auto 15px;
                    }
                }
            }
            tbody {
                tr {
                    th {
                        position: relative;
                        text-align: center;
                        background:  #DCF1DB;
                        border: 1px solid #E8E7E7;
                        border-collapse: collapse;
                        vertical-align: middle;
                        padding: 30px;
                        white-space: nowrap;
                        color: #000;
                        &:first-child {
                            position:sticky;
                            left:0;
                        }
                    }
                    td {
                        text-align: center;
                        border: 1px solid #E8E7E7;
                        border-collapse: collapse;
                        vertical-align: middle;
                        padding: 15px;
                        &.left-text {
                            text-align: left;
                        }
                        &.title {
                            a {
                                font-weight: 600;
                                color: #34A17A;
                                text-decoration: underline;
                            }
                        }
                        &.point {
                            font-size: 2.4rem;
                            font-weight: 800;
                            color: #FF6006;
                        }
                    }
                }
            }
        }
    }
    &__point {
        margin: 80px 0 0;

    }
}

@include mq(sp) {
    .c-popular {
        margin: 80px 0 0;
        &__list {
            grid-template-columns: 1fr;
            gap: 30px;
        }
        &__table {
            margin: 80px 0 0;
            table {
                thead {
                    th {
                        min-width: 150px;
                        padding: 10px;
                        font-size: 1.3rem;
                        &:first-child {
                            min-width: auto;
                        }
                        .num {
                            width: 30px;
                            margin: 0 auto 15px;
                        }
                    }
                }
                tbody {
                    tr {
                        th {
                            padding: 20px;
                            font-size: 1.3rem;
                        }
                        td {
                            font-size: 1.3rem;
                            padding: 10px;
                            &.point {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
        &__point {
            margin: 30px 0 0;
        }
    }
}