@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	c-search
----------------------------------------*/
.c-search {
    box-sizing: content-box;
    max-width: 1000px;
    padding: 0 50px;
    margin: 100px auto 0;
    &__form {
        margin: 30px 0 0;
        dl {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            border-top: 1px solid #fff;
            &:first-child {
                border: 0;
            }
            dt {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FAA001;
                min-width: 205px;
                padding: 20px 5px;
                font-size: 1.6rem;
                font-weight: 600;
                color: #fff;
            }
            dd {
                flex: 1;
                padding: 10px 20px 10px 30px;
                border-top: 2px solid #fff;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        font-size: 1.6rem;
                        font-weight: 300;
                        color: #575245;
                    }
                }
                input[type=radio],[type=checkbox] {
                    display: none;
                    cursor: pointer;
                }
                input[type=radio]:checked + .radio::after {
                    opacity: 1;
                }
                input[type=checkbox]:checked + .checkbox::after {
                    opacity: 1;
                }
                .select {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        background: #34A17A;
                        right: 20px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 15px;
                        height: 11px;
                        clip-path: polygon(0 0, 50% 100%, 100% 0);
                    }
                    select {
                        background: #FAFAFA;
                        border: 1px solid rgba(0,0,0,.1);
                        padding: 10px;
                        font-size: 1.6rem;
                        font-weight: 300;
                        width: 100%;
                        cursor: pointer;
                    }
                }
                .radio {
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin: 0 35px 0 0;
                    line-height: 3;
                    &::before {
                        content: "";
                        display: inline-block;
                        border: 1px solid rgba(0,0,0,.3);
                        border-radius: 50px;
                        width: 28px;
                        height: 28px;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto 10px auto 0;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        background: #1DC291;
                        border-radius: 50px;
                        width: 12px;
                        height: 12px;
                        left: 8px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        opacity: 0;
                        transition: all .3s;
                    }
                }
                .checkbox {
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin: 0 35px 0 0;
                    line-height: 3;
                    &::before {
                        content: "";
                        display: inline-block;
                        border: 1px solid rgba(0,0,0,.3);
                        border-radius: 4px;
                        width: 24px;
                        height: 24px;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto 10px auto 0;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        background: url(../img/icon-check.svg) no-repeat center / cover;
                        border-radius: 50px;
                        width: 18px;
                        height: 13px;
                        left: 4px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        opacity: 0;
                        transition: all .3s;
                    }
                }
            }
        }
    }
    &__button {
        text-align: center;
        margin: 40px 0 0;
        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #575245;
            border-radius: 8px;
            width: 405px;
            height: 60px;
            margin: auto;
            font-size: 2rem;
            font-weight: 600;
            color: #FFCF40;
            &::after {
                content: "";
                background: url(../img/icon-searchform.svg) no-repeat center / cover;
                width: 24px;
                height: 24px;
                margin: 0 0 0 10px;
            }
        }
    }
}

@include mq(sp) {
    .c-search {
        padding: 0 10px;
        &__form {
            margin: 30px 0 0;
            dl {
                display: block;
                margin: 10px 0 0;
                &:first-child {
                    margin: 0;
                }
                dt {
                    min-width: auto;
                    padding: 10px 5px;
                    font-size: 1.4rem;
                }
                dd {
                    padding: 10px 0 10px;
                    ul {
                        li {
                            font-size: 1.4rem;
                        }
                    }
                    .select {
                        &::before {
                            width: 12px;
                            height: 8px;
                        }
                        select {
                            font-size: 1.4rem;
                        }
                    }
                    .radio {
                        margin: 0 25px 0 0;
                    }
                }
            }
        }
        &__button {
            margin: 30px 0 0;
            a {
                width: auto;
                height: 60px;
            }
        }
    }
}