@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	c-title
----------------------------------------*/
.c-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background: #333;

  &.-name {
    // クラス名ページごとによって変わる

  }
}

@include mq(sp) {}