@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	c-title01
----------------------------------------*/
.c-title01 {
  background:  #34A27A;
  padding: 15px;
  font-size: 2.4rem;
  font-weight: 800;
  color: #fff;
  &.-crown {
    
  }
  &.-point {

  }
}

@include mq(sp) {}
/*----------------------------------------
	c-title02
----------------------------------------*/
.c-title02 {
  text-align: center;
  .head {
    padding: 10px 50px;
    background: #FFCF40;
    clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
    color: #575245;
  }
  .text {
    display: inline-block;
    margin: 15px 0 0;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.3;
    color: #575245;

  }
  .accent {
      color: #34A17A;
  }
}

@include mq(sp) {}