@charset "UTF-8";
/*----------------------------------------
	font
----------------------------------------*/
/*----------------------------------------
	fontFamily
----------------------------------------*/
/*----------------------------------------
	mediaquery
----------------------------------------*/
/*----------------------------------------
	fontFamily
----------------------------------------*/
/*----------------------------------------
	cssHack
----------------------------------------*/
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*----------------------------------------
	color
----------------------------------------*/
/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	共通部分
----------------------------------------*/
html {
  font-size: 10px;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  color: #000;
}

main {
  display: block;
}

a {
  color: #000;
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
th {
  font-weight: bold;
}

button {
  color: #000;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-container
----------------------------------------*/
.l-container {
  display: block;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-footer
----------------------------------------*/
/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	l-header
----------------------------------------*/
.l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.l-header__logo a {
  display: block;
  width: 100px;
}
.l-header__nav ul {
  display: flex;
}
.l-header__nav ul a {
  display: inline-block;
  font-weight: bold;
  padding: 20px;
}
.l-header__hum {
  display: none;
}

@media screen and (max-width: 767px) {
  .l-header {
    padding: 20px;
  }
  .l-header__logo {
    position: relative;
    z-index: 1;
  }
  .l-header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aaa;
    padding: 100px 20px 20px;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }
  .l-header__nav ul {
    display: block;
  }
  .l-header__nav ul li {
    text-align: center;
  }
  .l-header__hum {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 56px;
    height: 56px;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
  }
  .l-header__hum div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 22px;
    height: 16px;
  }
  .l-header__hum span {
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: 0.3s;
  }
  .l-header__hum p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    margin: 8px 0 0;
  }
  .l-header.active .l-header__nav {
    opacity: 1;
    visibility: visible;
  }
  .l-header.active .l-header__hum span:nth-child(1) {
    transform: translateY(7px) rotate(-45deg);
  }
  .l-header.active .l-header__hum span:nth-child(2) {
    opacity: 0;
  }
  .l-header.active .l-header__hum span:nth-child(3) {
    transform: translateY(-7px) rotate(45deg);
  }
}
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-nav
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-sidebar
----------------------------------------*/
/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	c-breadcrumb
----------------------------------------*/
.c-breadcrumb {
  max-width: 1000px;
  padding: 10px 15px;
  margin: 0 auto;
}
.c-breadcrumb li {
  position: relative;
  display: inline;
  font-size: 1.2rem;
  list-style: none;
  margin: 0 20px 0 0;
}
.c-breadcrumb li:after {
  content: ">";
  position: absolute;
  right: -18px;
  top: 0;
  bottom: 0;
  height: 20px;
  margin: auto;
}
.c-breadcrumb li:last-child:after {
  content: none;
}
.c-breadcrumb a {
  display: inline-block;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-button
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-heading
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-pager
----------------------------------------*/
.c-pager {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	c-pagination
----------------------------------------*/
.c-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-pagination__prev a, .c-pagination__next a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.c-pagination__body {
  display: flex;
  margin: 0 20px;
}
.c-pagination__body li,
.c-pagination__body a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-pagination__body li {
  width: 40px;
  height: 40px;
  list-style: none;
  margin: 0 5px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.c-pagination__body a {
  width: 100%;
  height: 100%;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-title
----------------------------------------*/
.c-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background: #333;
}
/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	u-animation
----------------------------------------*/
/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	u-device-sp
----------------------------------------*/
.u-device-sp {
  display: none;
}
@media screen and (max-width: 1200px) {
  .u-device-sp {
    display: block;
  }
}

/*----------------------------------------
	u-device-tablet
----------------------------------------*/
.u-device-tablet {
  display: none;
}
@media screen and (max-width: 1024px) {
  .u-device-tablet {
    display: block;
  }
}

/*----------------------------------------
	u-device-pc
----------------------------------------*/
@media screen and (max-width: 767px) {
  .u-device-pc {
    display: none;
  }
}

/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	p-front
----------------------------------------*/
/*----------------------------------------
	p-front
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	p-about
----------------------------------------*/
/*----------------------------------------
	p-about
----------------------------------------*/
/*----------------------------------------
	index
----------------------------------------*/