@charset "UTF-8";
/*----------------------------------------
	font
----------------------------------------*/
/*----------------------------------------
	fontFamily
----------------------------------------*/
/*----------------------------------------
	mediaquery
----------------------------------------*/
/*----------------------------------------
	fontFamily
----------------------------------------*/
/*----------------------------------------
	cssHack
----------------------------------------*/
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*----------------------------------------
	color
----------------------------------------*/
/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	共通部分
----------------------------------------*/
html {
  font-size: 10px;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  color: #000;
}

main {
  display: block;
}

a {
  color: #000;
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
th {
  font-weight: bold;
}

button {
  color: #000;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-container
----------------------------------------*/
.l-container {
  display: block;
  max-width: 1000px;
  margin: auto;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-footer
----------------------------------------*/
/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	l-header
----------------------------------------*/
.l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}
.l-header__logo a {
  display: block;
  width: 160px;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-nav
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-sidebar
----------------------------------------*/
/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-best3
----------------------------------------*/
.c-best3 {
  margin: 100px 0 0;
}
.c-best3__date {
  text-align: center;
  font-weight: bold;
  margin: 0 0 20px;
}
.c-best3__date .text {
  position: relative;
  padding: 20px;
  font-size: 2rem;
  font-weight: 800;
  color: #575245;
}
.c-best3__date .border-green::before {
  content: "";
  position: absolute;
  background: #1DC291;
  height: 2px;
  width: 91px;
  top: 0;
  left: 0;
}
.c-best3__date .border-green::after {
  content: "";
  position: absolute;
  background: #1DC291;
  height: 2px;
  width: 91px;
  bottom: 0;
  right: 0;
}
.c-best3__date .border-orange::before {
  content: "";
  position: absolute;
  background: #FAA001;
  height: 2px;
  width: 91px;
  top: 0;
  right: 0;
}
.c-best3__date .border-orange::after {
  content: "";
  position: absolute;
  background: #FAA001;
  height: 2px;
  width: 91px;
  bottom: 0;
  left: 0;
}
.c-best3__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
}
.c-best3__title .head {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #34A17A;
  width: 64px;
  height: 64px;
  font-size: 1.6rem;
  font-weight: 800;
  color: #fff;
}
.c-best3__title .accent {
  color: #34A17A;
}
.c-best3__title .num {
  color: #1DC291;
}
.c-best3__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 50px 0 0;
}
.c-best3__item {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 25px;
}
.c-best3__item__num {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  margin: auto;
  width: 40px;
}
.c-best3__item__button a {
  display: block;
  text-align: center;
  background: #FF6006;
  padding: 15px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 0px #D34D13;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-detail
----------------------------------------*/
.c-detail {
  margin: 100px 0 0;
}

/*----------------------------------------
	c-detail-block
----------------------------------------*/
.c-detail-block {
  margin: 100px 0 0;
  padding: 40px;
  background: #fafafa;
}
.c-detail-block__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1DC291;
  padding: 10px 15px;
}
.c-detail-block__head__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.c-detail-block__head__title img {
  width: 50px;
}
.c-detail-block__head__title h3 {
  font-size: 3.2rem;
  font-weight: 600;
  color: #fff;
}
.c-detail-block__head__evaluation p {
  display: flex;
  align-items: center;
}
.c-detail-block__head__evaluation p .text {
  white-space: nowrap;
  color: #fff;
}
.c-detail-block__head__evaluation p .num {
  font-size: 2.4rem;
  font-weight: 800;
  color: #fff;
}
.c-detail-block__main h4 {
  text-align: center;
  margin: 10px 0 0;
  font-size: 2.4rem;
  font-weight: 600;
}
.c-detail-block__main__inner {
  display: flex;
  background: #fff;
  padding: 20px;
  margin: 50px 0 0;
}
.c-detail-block__main__text {
  flex: 1;
  margin: 0 20px 0 0;
}
.c-detail-block__main__text h5 {
  text-align: center;
  border-top: 2px solid #FF6006;
  border-bottom: 2px solid #FF6006;
  padding: 5px 0;
  font-size: 2rem;
  font-weight: 800;
  color: #FF6006;
}
.c-detail-block__main__text ul {
  margin: 30px 0 0;
}
.c-detail-block__main__text ul li {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8;
  margin: 15px 0 0;
}
.c-detail-block__main__text ul li:first-child {
  margin: 0;
}
.c-detail-block__main__text ul li::before {
  content: "";
  display: inline-block;
  background: url("../img/icon-list.svg") no-repeat center/cover;
  width: 25px;
  height: 25px;
  margin: 0 15px 0 0;
}
.c-detail-block__main__img {
  max-width: 370px;
  width: 42%;
}
.c-detail-block__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.c-detail-block__list dl:nth-child(even) dt {
  background: #CEEECD;
}
.c-detail-block__list dl dt {
  text-align: center;
  padding: 20px;
  background: #DCF1DB;
}
.c-detail-block__list dl dd {
  text-align: center;
  background: #fff;
  padding: 10px 20px;
}
.c-detail-block__list dl dd.text-left {
  text-align: left;
}
.c-detail-block__point {
  margin: 20px 0 0;
}
.c-detail-block__point h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
.c-detail-block__point h4 span {
  background: #FAA001;
  padding: 15px 50px 15px 30px;
  border-left: 10px solid #FFCF40;
  color: #fff;
  clip-path: polygon(96% 0, 100% 50%, 96% 100%, 0 100%, 0 0);
}
.c-detail-block__point__inner {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #fff;
}
.c-detail-block__point__img {
  width: 80px;
  margin: 0 0 0 20px;
}
.c-detail-block__point__text {
  flex: 1;
}
.c-detail-block__point__text p {
  font-size: 1.6rem;
  line-height: 2;
  color: #575245;
}
.c-detail-block__point__text .accent {
  font-weight: 600;
  color: #FF6006;
}
.c-detail-block__button {
  display: flex;
  align-items: center;
}
.c-detail-block__button__official {
  background: #FF6006;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-title
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-popular
----------------------------------------*/
.c-popular {
  margin: 80px 0 0;
}
.c-popular__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin: 40px 0 0;
}
.c-popular__table {
  margin: 120px 0 0;
  overflow-x: scroll;
}
.c-popular__table table {
  width: 100%;
}
.c-popular__table table thead th {
  min-width: 250px;
  padding: 10px 20px;
}
.c-popular__table table thead th .num {
  width: 40px;
  margin: 0 auto 15px;
}
.c-popular__table table tbody tr th {
  text-align: center;
  background: #DCF1DB;
  border: 1px solid #E8E7E7;
  border-collapse: collapse;
  vertical-align: middle;
  padding: 30px;
  white-space: nowrap;
}
.c-popular__table table tbody tr td {
  text-align: center;
  border: 1px solid #E8E7E7;
  border-collapse: collapse;
  vertical-align: middle;
  padding: 10px;
}
.c-popular__table table tbody tr td.left-text {
  text-align: left;
}
.c-popular__table table tbody tr td a {
  font-weight: 600;
  color: #34A17A;
  text-decoration: underline;
}
.c-popular__point {
  margin: 80px 0 0;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-title
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-title
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-title01
----------------------------------------*/
.c-title01 {
  background: #34A27A;
  padding: 15px;
  font-size: 2.4rem;
  font-weight: 800;
  color: #fff;
}
/*----------------------------------------
	c-title02
----------------------------------------*/
.c-title02 {
  text-align: center;
}
.c-title02 .head {
  padding: 10px 50px;
  background: #FFCF40;
  clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
  color: #575245;
}
.c-title02 .text {
  display: inline-block;
  margin: 15px 0 0;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.3;
  color: #575245;
}
.c-title02 .accent {
  color: #34A17A;
}

/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	u-animation
----------------------------------------*/
/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	u-device-sp
----------------------------------------*/
.u-device-sp {
  display: none;
}
@media screen and (max-width: 1200px) {
  .u-device-sp {
    display: block;
  }
}

/*----------------------------------------
	u-device-tablet
----------------------------------------*/
.u-device-tablet {
  display: none;
}
@media screen and (max-width: 1024px) {
  .u-device-tablet {
    display: block;
  }
}

/*----------------------------------------
	u-device-pc
----------------------------------------*/
@media screen and (max-width: 767px) {
  .u-device-pc {
    display: none;
  }
}

/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	p-front
----------------------------------------*/
/*----------------------------------------
	p-front
----------------------------------------*/
/*----------------------------------------
	index
----------------------------------------*/