@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	l-footer
----------------------------------------*/
.l-footer {
  background: #34A27A;
  padding: 60px 50px;
  margin: 80px 0 0;
  &__inner {
    max-width: 1000px;
    margin: auto;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      a {
        position: relative;
        color: #fff;
        &::before {
          content: "";
          display: inline-block;
          background: #FFCF40;
          width: 6px;
          height: 9px;
          clip-path: polygon(0 0%, 0% 100%, 100% 50%);
          margin: 0 10px 0 0;
        }
      }
    }
  }
}

@include mq(sp) {
  .l-footer {
    padding: 50px 20px;
    margin: 80px 0 0;
    &__nav {
      display: block;
      li{
        margin: 20px 0 0;
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}