@charset "utf-8";

/*----------------------------------------
	@use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	l-header
----------------------------------------*/
.l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  //ロゴ
  &__logo {
    a {
      display: block;
      width: 160px;
    }
  }
}

@include mq(sp) {
}