@charset "utf-8";

/*----------------------------------------
	@use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	l-header
----------------------------------------*/
.l-header {
  &.-page {
    border-bottom: 2px solid #34a17a;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
  }
  &__logo {
    a {
      box-sizing: content-box;
      display: block;
      width: 80px;
      padding: 20px;
    }
  }
}

@include mq(sp) {
  .l-header {
    &__logo {
      a {
        padding: 15px 20px;
      }
    }
  }
}